version: '3.8'

services:
  # ====== Databases (оставлены без изменений) ======
  postgres-auth:
    networks:
      - prod-net

  redis-auth:
    networks:
      - prod-net

  postgres-geodata:
    networks:
      - prod-net

  postgres-docs:
    networks:
      - prod-net

  # ====== Message Broker ======
  kafka:
    depends_on:
      - zookeeper
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
        window: 120s
    networks:
      - prod-net

  zookeeper:
    networks:
      - prod-net

  # ====== Elasticsearch for Search Service ======
  elasticsearch:
    networks:
      - prod-net

  # ====== GEOSERVER ======
  geoserver:
    ports:
      - "8085:8080"
    networks:
      - prod-net

  # ======= MINIO STORAGE ======
  minio:
    networks:
      - prod-net

  # ====== ONLYOFFICE DOC SERVER ======
  onlyoffice-doc-server:
    ports:
      - "8081:80"
    networks:
      - prod-net

  # ====== Config, Discovery, Gateway ======
  config-server:
    networks:
      - prod-net

  discovery-server:
    networks:
      - prod-net
    environment:
      EUREKA_INSTANCE_HOSTNAME: discovery-server

  api-gateway:
    ports:
      - "9005:9005"
    networks:
      - prod-net

  # ====== Microservices ======
  auth-service:
    ports:
      - "9001:9001"
    networks:
      - prod-net
    environment:
      server.servlet.context-path: http://localhost:9001

  geodata-service:
    networks:
      - prod-net

  document-service:
    networks:
      - prod-net

  search-service:
    networks:
      - prod-net

  frontend:
    ports:
      - "8080:8080"
    networks:
      - prod-net

networks:
  prod-net:
    driver: bridge