version: '3.8'

services:
  # ====== Databases (оставлены без изменений) ======
  postgres-auth:
    ports:
      - "5433:5432"
    networks:
      - dev-net

  redis-auth:
    ports:
      - '6379:6379'
    networks:
      - dev-net

  postgres-geodata:
    ports:
      - "5434:5432"
    networks:
      - dev-net

  postgres-docs:
    ports:
      - "5435:5432"
    networks:
      - dev-net

  # ====== Message Broker ======
  kafka:
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
        window: 120s
    ports:
      - "9092:9092"
    networks:
      - dev-net

  zookeeper:
    ports:
      - "2181:2181"
    networks:
      - dev-net

  # ====== Elasticsearch for Search Service ======
  elasticsearch:
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      - dev-net

  # ===== GEOSERVER ======
  geoserver:
    ports:
      - "8085:8080"

  # ====== MINIO STORAGE ======
  minio:
    networks:
      - dev-net
    ports:
      - "9000:9000"

  # ====== ONLYOFFICE DOC-SERVER ======
  onlyoffice-doc-server:
    networks:
      - dev-net
    ports:
      - "8081:80" # Открываем на порту 8081 для доступа

    # ====== MediaMTX Stream Server ======
  mediamtx:
    ports:
      - "9997:9997"
      - "8888:8888"
      - "8554:8554"
    networks:
      - dev-net

  # ====== Config, Discovery, Gateway ======
  config-server:
    ports:
      - "8888:8888"
    networks:
      - dev-net

  discovery-server:
    ports:
      - "8761:8761"
    networks:
      - dev-net
    environment:
      EUREKA_INSTANCE_HOSTNAME: discovery-server

  api-gateway:
    ports:
      - "9005:9005"
    networks:
      - dev-net

  # ====== Microservices ======
  auth-service:
    ports:
      - "9001:9001"
    networks:
      - dev-net

  geodata-service:
    ports:
      - "9002:9002"
    networks:
      - dev-net

  document-service:
    ports:
      - "9003:9003"
    networks:
      - dev-net

  search-service:
    ports:
      - "9004:9004"
    networks:
      - dev-net

  stream-service:
    ports:
      - "9006:9006"
    networks:
      - dev-net

  frontend:
    ports:
      - "8080:8080"
    networks:
      - dev-net

networks:
  dev-net:
    driver: bridge
