version: '3.8'

services:
  # ====== Databases (оставлены без изменений) ======
  postgres-auth:
    networks:
      - prod-net

  redis-auth:
    networks:
      - prod-net

  postgres-geodata:
    networks:
      - prod-net

  postgres-docs:
    networks:
      - prod-net

  # ====== Message Broker ======
  kafka:
    depends_on:
      - zookeeper
    networks:
      - prod-net

  zookeeper:
    networks:
      - prod-net

  # ====== Elasticsearch for Search Service ======
  elasticsearch:
    networks:
      - prod-net

  # ====== GEOSERVER ======
  geoserver:
    ports:
      - "8085:8080"
    networks:
      - prod-net

  # ======= MINIO STORAGE ======
  minio:
    networks:
      - prod-net

  # ====== ONLYOFFICE DOC SERVER ======
  onlyoffice-doc-server:
    ports:
      - "8081:80"
    networks:
      - prod-net

  # ====== Config, Discovery, Gateway ======
  config-server:
    networks:
      - prod-net

  discovery-server:
    networks:
      - prod-net
    environment:
      EUREKA_INSTANCE_HOSTNAME: discovery-server

  api-gateway:
    ports:
      - "9005:9005"
    networks:
      - prod-net
    environment:
      CORS_ALLOWED_ORIGINS: http://127.0.0.1:8080

  # ====== Microservices ======
  auth-service:
    ports:
      - "9001:9001"
    networks:
      - prod-net
    environment:
      CORS_ALLOWED_ORIGINS: http://127.0.0.1:8080
      AUTH_SERVICE_DOMAIN: http://127.0.0.1:9001

  geodata-service:
    networks:
      - prod-net

  document-service:
    networks:
      - prod-net

  search-service:
    networks:
      - prod-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /
        VITE_API_GATEWAY_URL: http://127.0.0.1:8080/api
        VITE_AUTH_SERVICE_URL: http://127.0.0.1:9001
        VITE_AUTH_CALLBACK_URL: http://127.0.0.1:8080/code
        VITE_ONLYOFFICE_URL: http://127.0.0.1:8081
        VITE_GEOSERVER_URL: http://127.0.0.1:8080/geoserver/wms
        VITE_ONLYOFFICE_API_URL: http://127.0.0.1:9003/api/documents
    environment:
      __VITE_API_URL__: /
      __VITE_API_GATEWAY_URL__: http://127.0.0.1:8080/api
      __VITE_AUTH_SERVICE_URL__: http://127.0.0.1:9001
      __VITE_AUTH_CALLBACK_URL__: http://127.0.0.1:8080/code
      __VITE_ONLYOFFICE_URL__: http://127.0.0.1:8081
      __VITE_GEOSERVER_URL__: http://127.0.0.1:8080/geoserver/wms
      __VITE_ONLYOFFICE_API_URL__: http://127.0.0.1:9003/api/documents
    ports:
      - "8080:8080"
    networks:
      - prod-net

networks:
  prod-net:
    driver: bridge
